.jumbotron{
    color: white;
    background-color: rgb(52,58,64)!important;
    border: 1px solid;
    border-color: black;
    padding: 10px;
    text-shadow: 0px 10px 3px black;
    box-shadow: 1px 1px 1px #888888;
}